welcome-container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

welcome-enter-button{
  width: 100px;
  border-radius: 10px;
  background-color: black;
  color: gold;
}
